automation.txt
[{"id":"e2497c9.968048","type":"inject","z":"416aa994.4ed0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":4700,"wires":[["c5e20c2b.c4d08"]]},{"id":"c5e20c2b.c4d08","type":"http request","z":"416aa994.4ed0a8","name":"urlGET","method":"GET","ret":"obj","paytoqs":false,"url":"https://usda.library.cornell.edu/api/v1/release/findByPubId/k3569440g?latest=true","tls":"","proxy":"","authType":"bearer","x":500,"y":4840,"wires":[["9c250086.c656c8"]]},{"id":"9c250086.c656c8","type":"change","z":"416aa994.4ed0a8","name":"movePay","rules":[{"t":"move","p":"payload[0].files[0]","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":4840,"wires":[["bbc7d332.dbb118"]]},{"id":"bbc7d332.dbb118","type":"http request","z":"416aa994.4ed0a8","name":"txt","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":770,"y":4840,"wires":[["34aace11.016b6a"]]},{"id":"547c83c5.ae548c","type":"SMB","z":"416aa994.4ed0a8","name":"SAMBA","config":"6b1d47d2.56e4d8","operation":"create","path":"","path_new":"","format":"string","x":860,"y":4940,"wires":[[]]},{"id":"34aace11.016b6a","type":"function","z":"416aa994.4ed0a8","name":"","func":"let d = new Date();\nvar n = d.getTime();\nvar mont = d.getMonth();\nvar date =d.getDate();\nvar h =d.getHours();\nvar m =d.getMinutes();\nvar year =d.getFullYear();\nvar month = +mont+1\nmsg.filename= month+\"_\"+date+\"_\"+year+\".txt\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":4940,"wires":[["547c83c5.ae548c"]]},{"id":"e34e6119.2e815","type":"light-scheduler","z":"416aa994.4ed0a8","settings":"d9a4c9aa.c2eeb","events":"[{\"start\":{\"dow\":0,\"mod\":60},\"end\":{\"dow\":0,\"mod\":75}},{\"start\":{\"dow\":6,\"mod\":60},\"end\":{\"dow\":6,\"mod\":75}},{\"start\":{\"dow\":5,\"mod\":60},\"end\":{\"dow\":5,\"mod\":75}},{\"start\":{\"dow\":4,\"mod\":60},\"end\":{\"dow\":4,\"mod\":75}},{\"start\":{\"dow\":3,\"mod\":60},\"end\":{\"dow\":3,\"mod\":75}},{\"start\":{\"dow\":2,\"mod\":60},\"end\":{\"dow\":2,\"mod\":75}},{\"start\":{\"dow\":1,\"mod\":60},\"end\":{\"dow\":1,\"mod\":75}}]","topic":"","name":"","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":120,"y":4920,"wires":[["b7f3c4f3.0d9f98"]]},{"id":"b7f3c4f3.0d9f98","type":"rbe","z":"416aa994.4ed0a8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":4920,"wires":[["3b5df098.b01f68"]]},{"id":"3b5df098.b01f68","type":"switch","z":"416aa994.4ed0a8","name":"ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":4840,"wires":[["c5e20c2b.c4d08"]]},{"id":"6b1d47d2.56e4d8","type":"smb config","z":"","name":"Share","share":"\\\\jvlsap350\\interfaces\\BP1\\JVL_WebFile_Extract\\BatchScript_Folder","domain":""},{"id":"d9a4c9aa.c2eeb","type":"light-scheduler-settings","z":"","name":" Sheboygan (Wisconsin)","latitude":"43.722489","longitude":"-87.856793"}]
