automation.txt
[{"id":"cef8893a.2459e","type":"inject","z":"416aa994.4ed0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":3740,"wires":[["609e5e89.012098"]]},{"id":"609e5e89.012098","type":"http request","z":"416aa994.4ed0a8","name":"urlGET","method":"GET","ret":"obj","paytoqs":false,"url":"https://usda.library.cornell.edu/api/v1/release/findByPubId/k3569440g?latest=true","tls":"","proxy":"","authType":"bearer","x":540,"y":3880,"wires":[["3633df61.a891d"]]},{"id":"3633df61.a891d","type":"change","z":"416aa994.4ed0a8","name":"movePay","rules":[{"t":"move","p":"payload[0].files[0]","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":3880,"wires":[["29ff1c0f.8873a4"]]},{"id":"29ff1c0f.8873a4","type":"http request","z":"416aa994.4ed0a8","name":"txt","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":810,"y":3880,"wires":[["e53d074f.e46418"]]},{"id":"51bdbee.106a24","type":"SMB","z":"416aa994.4ed0a8","name":"SAMBA","config":"6b1d47d2.56e4d8","operation":"create","path":"","path_new":"","format":"string","x":900,"y":3980,"wires":[[]]},{"id":"e53d074f.e46418","type":"function","z":"416aa994.4ed0a8","name":"","func":"let d = new Date();\nvar n = d.getTime();\nvar mont = d.getMonth();\nvar date =d.getDate();\nvar h =d.getHours();\nvar m =d.getMinutes();\nvar year =d.getFullYear();\nvar month = +mont+1\nmsg.filename= month+\"_\"+date+\"_\"+year+\".txt\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":3980,"wires":[["51bdbee.106a24"]]},{"id":"f8008d3e.dc4818","type":"light-scheduler","z":"416aa994.4ed0a8","settings":"d9a4c9aa.c2eeb","events":"[{\"start\":{\"dow\":0,\"mod\":60},\"end\":{\"dow\":0,\"mod\":75}},{\"start\":{\"dow\":6,\"mod\":60},\"end\":{\"dow\":6,\"mod\":75}},{\"start\":{\"dow\":5,\"mod\":60},\"end\":{\"dow\":5,\"mod\":75}},{\"start\":{\"dow\":4,\"mod\":60},\"end\":{\"dow\":4,\"mod\":75}},{\"start\":{\"dow\":3,\"mod\":60},\"end\":{\"dow\":3,\"mod\":75}},{\"start\":{\"dow\":2,\"mod\":60},\"end\":{\"dow\":2,\"mod\":75}},{\"start\":{\"dow\":1,\"mod\":60},\"end\":{\"dow\":1,\"mod\":75}}]","topic":"","name":"","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":160,"y":3960,"wires":[["3a400ae0.ad58e6"]]},{"id":"3a400ae0.ad58e6","type":"rbe","z":"416aa994.4ed0a8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":3960,"wires":[["e4392100.3b1d8"]]},{"id":"e4392100.3b1d8","type":"switch","z":"416aa994.4ed0a8","name":"ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":3880,"wires":[["609e5e89.012098"]]},{"id":"37ef504c.3133f8","type":"comment","z":"416aa994.4ed0a8","name":"<-----CHANGE HERE      ","info":"","x":1080,"y":3980,"wires":[]},{"id":"6b1d47d2.56e4d8","type":"smb config","z":"","name":"Share","share":"\\\\192.168.1.137\\77","domain":""},{"id":"d9a4c9aa.c2eeb","type":"light-scheduler-settings","z":"","name":"LAS VEGAS","latitude":" 36.114647","longitude":"-115.172813"}]
