automation.txt
[{"id":"fe25ef01.299778","type":"inject","z":"416aa994.4ed0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":4620,"wires":[["de42930d.9623c"]]},{"id":"f6b9794e.7860f8","type":"http request","z":"416aa994.4ed0a8","name":"urlGET","method":"GET","ret":"obj","paytoqs":false,"url":"https://usda.library.cornell.edu/api/v1/release/findByPubId/k3569440g?latest=true","tls":"","proxy":"","authType":"","x":700,"y":4760,"wires":[["7a6ec2a0.332244"]]},{"id":"7a6ec2a0.332244","type":"change","z":"416aa994.4ed0a8","name":"movePay","rules":[{"t":"move","p":"payload[0].files[0]","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":4760,"wires":[["cbc4fc80.d23678"]]},{"id":"cbc4fc80.d23678","type":"http request","z":"416aa994.4ed0a8","name":"txt","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":970,"y":4760,"wires":[["56df9fb2.bcfab"]]},{"id":"e0db637a.174318","type":"SMB","z":"416aa994.4ed0a8","name":"SAMBA","config":"6b1d47d2.56e4d8","operation":"create","path":"","path_new":"","format":"string","x":1060,"y":4860,"wires":[[]]},{"id":"56df9fb2.bcfab","type":"function","z":"416aa994.4ed0a8","name":"","func":"let d = new Date();\nvar n = d.getTime();\nvar mont = d.getMonth();\nvar date =d.getDate();\nvar h =d.getHours();\nvar m =d.getMinutes();\nvar year =d.getFullYear();\nvar month = +mont+1\nmsg.filename= month+\"_\"+date+\"_\"+year+\".txt\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":4860,"wires":[["e0db637a.174318"]]},{"id":"3657cd62.f1d9fa","type":"light-scheduler","z":"416aa994.4ed0a8","settings":"d9a4c9aa.c2eeb","events":"[{\"start\":{\"dow\":0,\"mod\":60},\"end\":{\"dow\":0,\"mod\":75}},{\"start\":{\"dow\":6,\"mod\":60},\"end\":{\"dow\":6,\"mod\":75}},{\"start\":{\"dow\":5,\"mod\":60},\"end\":{\"dow\":5,\"mod\":75}},{\"start\":{\"dow\":4,\"mod\":60},\"end\":{\"dow\":4,\"mod\":75}},{\"start\":{\"dow\":3,\"mod\":60},\"end\":{\"dow\":3,\"mod\":75}},{\"start\":{\"dow\":2,\"mod\":60},\"end\":{\"dow\":2,\"mod\":75}},{\"start\":{\"dow\":1,\"mod\":60},\"end\":{\"dow\":1,\"mod\":75}}]","topic":"","name":"","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":320,"y":4840,"wires":[["f8174da5.511c08"]]},{"id":"f8174da5.511c08","type":"rbe","z":"416aa994.4ed0a8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":470,"y":4840,"wires":[["f3b851b3.97db48"]]},{"id":"f3b851b3.97db48","type":"switch","z":"416aa994.4ed0a8","name":"ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":4760,"wires":[["de42930d.9623c"]]},{"id":"de42930d.9623c","type":"function","z":"416aa994.4ed0a8","name":"","func":"msg.headers = {\n    Authorization: \"Bearer \"+\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjU2MTZ9.DB4cwAPiUloPwKhYEkRLOE20hA-1IIqkG4KYv5XFp6w\"\n}\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":4760,"wires":[["f6b9794e.7860f8"]]},{"id":"6b1d47d2.56e4d8","type":"smb config","z":"","name":"Share","share":"\\\\jvlsap350\\interfaces\\BP1\\JVL_WebFile_Extract\\BatchScript_Folder","domain":""},{"id":"d9a4c9aa.c2eeb","type":"light-scheduler-settings","z":"","name":" Sheboygan (Wisconsin)","latitude":"43.722489","longitude":"-87.856793"}]
